{erl_opts, [debug_info, {i, "_build/default/plugins/sheets/include"}]}.

{plugins, [
  {rebar3_sheets_plugin, ".*", {git, "https://github.com/lalaspirit/rebar3_sheets_plugin", {tag, "lastest"}}}
]}.

{sheets_opts, [
  {def_file, "include/sheets_define.hrl"},
  {out_module_list, "priv/sheet_modules"},
%%  {force, true},
%%  {clean, true},
  {out_dir, "src/sheet/"}
]}.

{provider_hooks, [
  {pre, [
    {compile, {sheets, compile}},
    {clean, {sheets, clean}}
  ]}
]}.